// Scss Document

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "global.scss";
@import "primeicons/primeicons.css";

html {
  /* background: hsla(210, 17%, 98%, 1);
  background: linear-gradient(270deg, hsla(210, 17%, 98%, 1) 0%, hsla(203, 80%, 31%, 1) 91%, hsla(200, 81%, 25%, 1) 100%);
  background: -moz-linear-gradient(270deg, hsla(210, 17%, 98%, 1) 0%, hsla(203, 80%, 31%, 1) 91%, hsla(200, 81%, 25%, 1) 100%);
  background: -webkit-linear-gradient(270deg, hsla(210, 17%, 98%, 1) 0%, hsla(203, 80%, 31%, 1) 91%, hsla(200, 81%, 25%, 1) 100%); */
  background: $ngwcp_footer;
  height: 100%;
}

h1 {
  font-size: 20px;
  margin: 0;
}

h2 {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.4rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  min-width: 1530px !important;
  min-height: 945px !important;
}

.boxed {
  border: 1px solid #000;
}

input {
  border: solid #aaaaaa;
  border-width: 2px;
  width: 100%;
}

.ngenButtonDiv {
  border: 1px solid black;
  color: white;
  padding: 8px;
  border-radius: 10px;
  background-color: $ngwcp_primary1;
  text-align: center;
}

.ngenButtonDiv:hover {
  background-color: $ngwcp_primary2;
  color: $ngwcp_primary1;
}

h2 {
  display: block;
}

h3 {
  color: $staticText;
  display: inline;
  text-transform: capitalize;
  font-weight: normal;
}

h4 {
  color: $staticText;
  display: inline;
  text-transform: capitalize;
  font-weight: normal;
}

h5 {
  color: $staticText;
  font-weight: normal;
}

fieldset {
  border-color: $inactiveColor;
  border-style: solid;
  margin: 1em;
  line-height: 1.5em;
}

label {
  cursor: pointer;
}

.header {
  flex: 1 1 auto;
  width: 100%;
  height: 1.5rem;
}

/* End temporary styles */

.default-style {
  min-width: 100%;
  min-height: 100vh;
}

.flex-display {
  display: flex;
}

.flex-justify-end {
  justify-content: flex-end;
}

.flex-justify-col-rev {
  justify-content: flex-column-reverse;
}

.flex-justify-space-around {
  justify-content: space-around;
}

.flex-grow {
  flex: 1;
}

.flex-grow-shrink {
  flex: 1 1 100%;
}

.row {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.disabled {
  pointer-events: none;
  color: #777777 !important;
}

.waitgif {
  position: absolute;
  top: 40%;
  left: 33%;
  width: 80px;
  margin: 0 auto;
  z-index: 9999;
}

@layer base {
  @font-face {
    font-family: "ObjektivMk2_Bd";
    src: url("@/assets/fonts/ObjektivMk2_Bd.woff2") format("woff2");
  }

  @font-face {
    font-family: "ObjektivMk2_Lt";
    src: url("@/assets/fonts/ObjektivMk2_Lt.woff2") format("woff2");
  }

  @font-face {
    font-family: "ObjektivMk2_Rg";
    src: url("@/assets/fonts/ObjektivMk2_Rg.woff2") format("woff2");
  }

  @font-face {
    font-family: "NeueFrutigerWorld-Bold";
    src: url("@/assets/fonts/NeueFrutigerWorld-Bold.woff2") format("woff2");
  }

  @font-face {
    font-family: "NeueFrutigerWorld-Book";
    src: url("@/assets/fonts/NeueFrutigerWorld-Book.woff2") format("woff2");
  }

  @font-face {
    font-family: "NeueFrutigerWorld-BookIt";
    src: url("@/assets/fonts/NeueFrutigerWorld-BookIt.woff2") format("woff2");
  }

  @font-face {
    font-family: "NeueFrutigerWorld-Medium";
    src: url("@/assets/fonts/NeueFrutigerWorld-Medium.woff2") format("woff2");
  }

  @font-face {
    font-family: "NeueFrutigerWorld-MediumIt";
    src: url(@/assets/fonts/NeueFrutigerWorld-MediumIt.woff2) format("woff2");
  }

  // @font-face {
  //   font-family: "Inter";
  //   src: url("@/assets/fonts/NeueFrutigerWorld-Bold.ttf") format("ttf"), url("@/assets/fonts/Inter-Regular.woff")
  //       format("woff");
  //   font-weight: 400;
  //   font-style: normal;
  // }

  // ... Include all the font weights and styles you need
}

.ObjektivMk2_Bd {
  font-family: "ObjektivMk2_Bd"
}

.ObjektivMk2_Lt {
  font-family: "ObjektivMk2_Lt"
}

.ObjektivMk2_Rg {
  font-family: "ObjektivMk2_Rg"
}

.NeueFrutigerWorld-Bold {
  font-family: "NeueFrutigerWorld-Bold"
}

.NeueFrutigerWorld-Book {
  font-family: "NeueFrutigerWorld-Book"
}

.NeueFrutigerWorld-BookIt {
  font-family: "NeueFrutigerWorld-BookIt"
}

.NeueFrutigerWorld-Medium {
  font-family: "NeueFrutigerWorld-Medium"
}

.NeueFrutigerWorld-MediumIt {
  font-family: "NeueFrutigerWorld-MediumIt";
}


// TimeDatePicker
.dp__input {
  height: 25px;
  margin-bottom: 11px;
  margin-left: 10px;
  font-family: 'Courier New', Courier, monospace !important;
}

.dp--clear-btn,
.dp__input_icon {
  top: 30% !important;
}

// DataTables
.p-datatable-header-cell {
  padding: 5px 8px !important;
}

.p-datatable-tbody>tr>td {
  padding: 8px;
}

.p-datatable-thead tr th {
  background-color: #105d8e;
  color: white;
  border-left: 1px solid white;
}

.p-datatable-sort-icon {
  color: white !important;
}

.p-datatable-column-title {
  font-size: 0.8em;
}