// Scss Document

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "global.scss";
@import "primeicons/primeicons.css";

html {
  background: $ngwcp_background;
  height: 100%;
}

h1 {
  font-size: 30px;
  margin: 0;
}

h2 {
  font-size: 24px;
}

.construction-images {
  width: 30%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.4rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  min-width: 1530px !important;
  min-height: 945px !important;
}

.font-ui {
  font-family: ui-sans-serif, system-ui, sans-serif, sans-serif, Arial, Helvetica;
}

.boxed {
  border: 1px solid #BBBBBF;
}

label {font-weight: bold;}

input, .p-select, .varInputs {
  width: 100%;
  padding: 5px 10px !important;
  border-radius: 2px !important;
}
.bg-white,
.white-tall-content-box {
  input, .p-select, .p-inputtext, .p-password-input, .varInputs {
    background-color: $ngwcp_neutral_gray_lt;  
    border: 0px solid $ngwcp_neutral_gray_md;
  }
  .p-select-dropdown {
    color: #000000;
  }
}

input::-webkit-input-placeholder {
  opacity: 0.8;
}

.inputBox {
  margin-top: 20px;
}

.h-screen-inner {
  height: Calc(100vh - 180px);
}
.h-screen-inner-less {
  height: Calc(100vh - 240px);
}

.bg-white {
  background-color: #fff;
}

.underline,
.underline button {
  text-decoration: underline;
}

.ngenButtonDiv {
  cursor: pointer;
  color: white;
  padding: 6px 25px;
  border-radius: 28px;
  background-color: $ngwcp_primary1;
  text-align: center;
  font-size: 18px;
  border: 0px;
  display: inline-block;
}

.ngenButtonDiv:hover {
  background-color: $ngwcp_primary3;
  color: white;
}

.ngenButtonDiv-alt {
  cursor: pointer;
  color: white;
  padding: 5px 20px;
  border-radius: 28px;
  background-color: $ngwcp_primary4;
  text-align: center;
  font-size: 18px;
  border: 0px;
  display: inline-block;
}
.ngenButtonDiv-alt:hover {
  background-color: $ngwcp_primary3;
  color: white;
}
.ngenButtonDiv-alt button,
.ngenButtonDiv-alt button:hover,
.ngenButtonDiv-alt button:focus {
  outline: none; /* Remove default focus outline */
  box-shadow: 0px; /* Optional: Add a subtle shadow on focus */
  background-color: inherit;
  border: 0px;
}


.btn-left {
  margin-right: auto;
  margin-left: 0px;
}
.btn-right {
  margin-right: 0px;
  margin-left: auto;
}
.btn-center {
  margin-right: auto;
  margin-left: auto;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

h2 {
  display: block;
}

h3 {
  color: $staticText;
  display: inline;
  text-transform: capitalize;
  font-weight: normal;
}

h4 {
  color: $staticText;
  display: inline;
  text-transform: capitalize;
  font-weight: normal;
}

h5 {
  color: $staticText;
  font-weight: normal;
}

fieldset {
  border-color: $inactiveColor;
  border-style: solid;
  margin: 1em;
  line-height: 1.5em;
}

label {
  cursor: pointer;
}

select {
  border: 1px solid #666666;
  padding: 2px;
}
select option {
  background-color: #fff;
}

.header {
  flex: 1 1 auto;
  width: 100%;
  height: 1.5rem;
}

.default-style {
  min-width: 100%;
  min-height: 100vh;
}

.flex-display {
  display: flex;
}

.flex-justify-end {
  justify-content: flex-end;
}

.flex-justify-col-rev {
  justify-content: flex-column-reverse;
}

.flex-justify-space-around {
  justify-content: space-around;
}

.flex-grow {
  flex: 1;
}

.flex-grow-shrink {
  flex: 1 1 100%;
}

.row {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.disabled {
  pointer-events: none;
  color: #777777 !important;
}

.waitgif {
  position: absolute;
  top: 40%;
  left: 33%;
  width: 80px;
  margin: 0 auto;
  z-index: 9999;
}


// TimeDatePicker
.dp__input {
  height: 35px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-left: 50px;
  font-family: 'Courier New', Courier, monospace !important;
  text-align: center;
  vertical-align: middle;
}
.dp__input_icons {
  padding: 10px 12px !important;
}
.dp--clear-btn,
.dp__input_icon {
  /*top: 40% !important;*/
  top: 16px !important;
}
.p-listbox-option {
  padding-top: 4px;
  padding-bottom: 4px;
}

// DataTables
.p-datatable-header-cell {
  padding: 5px 8px !important;
}

.p-datatable-tbody > tr > td {
  padding: 5px !important;
  border-color: #BBBBBF !important;
}
.p-datatable-tbody {
  border-right: 1px solid #BBBBBF;
  border-left: 1px solid #BBBBBF;
}

.p-datatable-thead tr th {
  /*background-color: $ngwcp_primary1;*/
  background-color: #003D64;
  color: white;
  border-left: 1px solid white;
}
.p-datatable-thead tr th:first-child {
  border-left: 1px solid #003D64;
}

.p-datatable-thead tr th:hover {
  background-color: $ngwcp_primary3 !important;
  color: white !important;
}

.p-datatable-sort-icon {
  color: white !important;
}

.p-datatable-column-title {
  font-size: 0.8em;
}

// default color ovewrites
.bg-green { background-color: $ngwcp_secondary4 !important; }
.bg-blue1 { background-color: $ngwcp_primary1 !important; }
.bg-blue2 { background-color: $ngwcp_primary2 !important; }
.bg-blue3 { background-color: $ngwcp_primary3 !important; }
.bg-blue4 { background-color: $ngwcp_primary4 !important; }
.bg-white { background-color: white !important; }
.c-blue { color: $color-blue !important; }
.c-blue-primary1 { color: $ngwcp_primary1 !important; }
.c-black { color: $black !important; }

.c-gray-bg {background-color: $ngwcp_background !important }
.bg-gray-md {background-color: $ngwcp_neutral_gray_md !important }

#ProgressGroup {
  width: 100%;
  padding: 0px 10px 0 0;
  margin-left: 0px;  
  table {
    th, td {
      padding-left: 5px;
      font-size: 97%;
    }
    td:first-child {
      padding-left: 0px;
    }
    tr {
      line-height: calc(1.1vw + 0.41vh); 
    }
    .checkMark {
      text-align: right;
    }
    .ptype {
        width: 90%;
        cursor: pointer;
    }
    .ptype:hover {
        color: $ngwcp_primary1;
    }
  }
}

table.alt-row-colors {
  th, td {
    padding-left: 8px;
  }
  tr:nth-child(even) {
    background-color: $ngwcp_neutral_gray_lt;
  }
  tr:nth-child(odd) {
    background-color: $ngwcp_neutral_gray_md;
  }
}
table.cols-bordered {
  border: 1px solid #e6e6e6;
  border-width: 3px 0 3px 3px;
  tr {

    td {
      border-right: 3px solid #e6e6e6;
    }
  }
}

//ATTENTION to DEVELOPERS: TEMORARY: REMOVE THIS AFTER geopackageImageUrl is working
#GageCutout {
  background-image: url("~/assets/styles/img/temp-progress.png");
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center; 
}

// Help Pages

._help-page {
  padding: 10px;
}

._help-title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 1.3em;
}

._help-subtitle {
  text-align: left;
  font-weight: bold;
  margin: 15px 30px;
  padding: 0 50px; 
}

._help-table {
  margin-top: 20px;
  margin-left: 20px;
}

._help-table .td1 {
  text-align: right;
  padding-right: 30px;
  width: 350px;
  vertical-align: top !important;
  font-weight: 600;
}

._help-table .td2 {
  width: auto;
}


._help-page p {
  line-height: 2em;
}

/* Right Side Blocks */
#TopRightBlock {
  padding: 10px;
  height: fit-content;
}

#MessagesGroup {
  font-size: .9em;
}

#GageCutout {
  margin-right: 5px;
  max-height: 300px;

}

/* Progress Tables */
/* .progressTable {
  width: 100%;
  margin-left: 15px;

  table {
    tr {
      line-height: calc(1.3vw + 0.41vh); // font-size: 14px;
    }
  }
}
.checkMark {
  text-align: right;
}

.ptype {
  width: 90%;
  cursor: pointer;
}

.ptype:hover {
  color: $ngwcp_primary1;
} */


/* Toast */
.p-toast {
  width: min(25rem, 100vw) !important;
}
.p-toast-top-center {
}

.p-toast-message {
  border: 2px solid red;
}

/* Listbox select (for Tuning Tab) */
.p-listbox-option-selected {
  background-color: #6dfcb9 !important;
}